/* General */
body {
    font-family: "Roboto", sans-serif;
    line-height: 1.5 !important;
    text-align: center;
    background-color: rgb(2, 68, 2);
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500 !important;
    color: white;
}

p {
    color: #c0c0c0;
    font-size: 1rem;
    font-weight: 300 !important;
}

/* Containers */
.container-fluid {
    padding: 10%;
}

/* Images */
.images {
    margin-top: 20px;
    width: 400px;
    height: 300px;
}

/* Footer */
footer {
    text-align: center;
    margin-top: 10%;
}